* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
background-color: #222;
color: rgb(255, 255, 226);
}

.header{
    width: 100%;
    height: 50px;
    border-bottom: #1b4491 solid 2px;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.navebar{
    display: flex;
    list-style: none;

}

.navebar li {
    margin-right: 10px;
}

.A{
    color: rgb(255, 255, 226) ;
}

.main{
    justify-content: center;
    align-items: center;
}
.geral{
    border: solid 1px black;
}